*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px;

}

header{
    height: 130vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.5) 100%), url(file:///home/keylor/Downloads/20210307_113939.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

 h1{
   padding-left: 20%;
   padding-top: 20%;
   color: white;
   z-index: -1;
   font-size: 40px;
 }

 h4{
     padding-left: 35%;
     color: white;
     z-index: -1;
     font-size: 25px;
   
 }

 .hamburguesa{
     position: fixed;
     top: 30px;
     right: 30px;
     background: white;
     width: 40px;
     height: 40px;
     cursor: pointer;
     border-radius: 10px;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
 }

 .menu-navegacion{
     position: fixed;
     top: 0;
     right: 0;
     width: 30vw;
     height: 100%;
     background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     transition: transform .3s ease-in-out;
     transform: translate(110%);
     box-shadow: 0 0 6px rgba(0, 0, 0,.5);

 }

 .spread{
     transform: translate(0);
 }

 .menu-navegacion a{
     color: white;
     text-decoration: none;
 }

 

 .copy{
     font-weight: 300;
     font-size: 25;
     
 }
 
 /*Nuestro servicio*/

 .subtitulo{
     text-align: center;
     font-weight: 300;
     color: #9f8ad0;
     margin-bottom: 40px;
     font-size: 40px;
 }

 .contenedor-servicio{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
 }

 .contenedor-servicio img{
     width: 30%; 
        
 }

 .checklist-servicio{
     width: 55%;
 }
 .service{
     margin-bottom: 20px;
     margin-left: 18%;

    
 }

 .n-service{
     margin-bottom: 18px;
     color: #9f8ad0;
     padding: 0px;
    
 }
 h6{
     color: rgb(109, 103, 103); 
     font-size: 16px;
 }

 .number{
     display: inline-block;
     background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
     width: 30px;
     height: 30px;
     color: white;
     text-align: center;
     border-radius: 50%;
     font-weight: 700;
     line-height: 30px;
     margin-right: 5px;
 }

 .gallery{
   background: #eee9e9; 
  
 }

 .contenedor-galeria{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap; 
    
 }

 .img-galeria{
     object-fit: cover;
     width: 25%;
     display: flex;
     margin-bottom: 15px;
     box-shadow: 0 0 6px rgba(0, 0, 0,.5);
     cursor: pointer;
     justify-content: center;
     padding: 20px;
 }

 .imagen-light{
     position: fixed;
     background: rgba(0, 0,0,.6);
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: translate(100%);
     transition: transform .2s ease-in-out;
 }
 .show{
     transform: translate(0);
 }

 .agregar-imagen{
     object-fit: cover;
     width: 60%;
     border-radius: 10px;
     transform: scale(0);
     transition: transform .3s .2s;
 }

 .showImagen{
     transform: scale(1);

 }

 .close{
     position: absolute;
     top: 15px;
     right: 15px;
     width: 40px;
     cursor: pointer;
 }

 .expert{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
 }
 .cont-expert{
     width: 30%;
     text-align: center;
     margin-bottom: 20px;
 }

 .cont-expert img{
     width: 50%;
     display: block;
     margin: auto;
 }

 .n-expert{
     display: inline-block;
     margin-top: 20px;
     width: 90%;
     font-weight: 400;
     background:#a79db1;
     color: rgb(240, 230, 230);
     border: solid 3px;
     border-color:rgb(221, 209, 209);
     box-shadow: -5px 3px 20px rgba(133, 129, 129, 0.3);
 }
 /* Footer */

 footer{
     background: #9f8ad0;
     padding-bottom: 0.1px;
 }

 .footer-content{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding-top: 60px;
     padding-bottom: 40px;
 }

 .contact-us{
     width: 40%;
     color: white;
 }

 .brand{
     font-weight: 500;
     font-size: 25px;
 }

 .brand+p{
     font-weight: 500;
 }

 .social-media{
     width: 50%;
     display: flex;
     justify-content: flex-end;
 }

 .social-media-icon{
     display: inline-block;
     margin-left: 20px;
     width: 60px;
     height: 60px;
     border: solid white;
     border-radius: 50%;
     text-align: center;
     color: white;
 }

 .social-media-icon:hover{
     background: white;
     color: #764ba2;
 }

 .social-media-icon i{
     font-size: 30px;
     line-height: 55px;
 }

 .line{
     width: 90%;
     max-width: 1200px;
     margin: auto;
     height: 2px;
     background: white;
     margin-bottom: 60px;
 }

 @media screen and (max-width:800px){
     .menu-navegacion{
         width: 50vw;
     }
     .titulo{
         font-size: 40px;
     }

     .contenedor-servicio img{
         width: 80%;
         margin-bottom: 40px;
     }

     .checklist-servicio{
         width: 80%;
     }
     
     .servive{
         margin-bottom: 30px;
    }

     .agregar-imagen{
         width: 80%;
     }

    .img-galeria{
        width: 45%;
    }

    .cont-expert{
        width: 80%;
    }

    .footer-content{
        justify-content: center;

    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }
    
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 20%;
    }
     }

     @media screen and (max-width:500px){
    .menu-navegacion{
        width: 30vh;
    }
    .hamburguesa{
        top: 10px;
        right: 15px;
    }

    .titulo{
        font-size: 25px;
    }
    
    
    .agregar-imagen{
        width: 95%;
    }

    h4{
        padding-left: 22%;
        font-size: 18px;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
       justify-content: space-evenly;
       

    }
    }

 